cximage599a_full/*
boost_1_81_0/*
boost_1_78_0/*
boost_1_58_0/*
Release/*
Debug/*
*/Release/*
*/Debug/*
ipch
FFFF312_src/*
FFFF312_exe_and_GLUT/*
MNG/*
OpenGL Example/*
GPU-mandelbrot/*
*/x64/*
*/x86/*
_UpgradeReport_Files

Thumbs.db

*.vcxproj.user
*.vcxproj.filters
*.vcproj*
*.dsw
*.dsp
*.aps
*.ncb
*.sdf
*.suo
*.suo.old
*.sln.old
.vs/
UpgradeLog*
*.png
*.jpg

Benchmarks.xlsx

# Other projects
mpir/
kalles-fraktaler-2/
docs/
Imagina/
GPU-mandelbrot/
FractalShades/
FractalShark/GPUCache/*
Fractal-Zoomer/
