#include "../FractalShark/resource.h"

IDR_IMAGINA_VIEW0       SHARK_DATA              "..\\FromImagina\\View0.im"
IDR_IMAGINA_VIEW5       SHARK_DATA              "..\\FromImagina\\View5.im"
IDR_IMAGINA_VIEW14      SHARK_DATA              "..\\FromImagina\\View14.im"
IDR_IMAGINA_VIEW15      SHARK_DATA              "..\\FromImagina\\View15.im"
IDR_IMAGINA_VIEW19      SHARK_DATA              "..\\FromImagina\\View19.im"
IDR_IMAGINA_VIEWEASY1   SHARK_DATA              "..\\FromImagina\\ViewEasy1.im"

