name: Build

on:
  push:
    branches: [ "**" ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build Fractals
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Checkout MPIR
        uses: actions/checkout@v4
        with:
          repository: BrianGladman/mpir
          path: mpir

      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Install YASM
        run: choco install yasm -y

      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@v0.2.16
        with:
          cuda: "12.2.2"

      - name: Build MPIR (Release x64)
        working-directory: mpir\msvc\vs22
        run: msbuild lib_mpir_skylake_avx\lib_mpir_skylake_avx.vcxproj /t:Rebuild /p:Configuration=Release /p:Platform=x64

      - name: Build MPIR (Debug x64)
        working-directory: mpir\msvc\vs22
        run: msbuild lib_mpir_skylake_avx\lib_mpir_skylake_avx.vcxproj /t:Rebuild /p:Configuration=Debug /p:Platform=x64

      - name: Build Fractals
        run: msbuild FractalShark\Fractals.vcxproj /p:Configuration=Release /p:Platform=x64 /m

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: FractalShark-build
          path: |
            **/Release/**
            **/x64/Release/**
            **/Debug/**
            **/x64/Debug/**